<div class="container mt-4">
  <h2 class="mb-4">📋 Listado Profesional</h2>

  <div class="row g-2 mb-3">
    <div class="col-8">
      <input type="text" [formControl]="searchControl" class="form-control" placeholder="🔍 Buscar...">
    </div>
    <div class="col-4">
      <button class="btn btn-outline-primary w-100" (click)='ordenarAZ()'>A-Z ↕️</button>
    </div>
  </div>

  <div *ngIf="productosFiltrados.length > 0; else vacio">
    <table class="table border table-hover">
      <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of productosPaginados">
          <td>{{ p.id }}</td>
          <td>{{ p.nombre }}</td>
          <td>{{ p.precio | currency }}</td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center">
      <button class="btn btn-sm btn-dark" [disabled]="paginaActual === 1" (click)="paginaActual = paginaActual - 1">Anterior</button>
      <span>Pág. {{ paginaActual }} de {{ totalPaginas }}</span>
      <button class="btn btn-sm btn-dark" [disabled]="paginaActual >= totalPaginas" (click)="paginaActual = paginaActual + 1">Siguiente</button>
    </div>
  </div>

  <ng-template #vacio>
    <div class="alert alert-secondary text-center py-5">
      <p class="mb-0">✨ No hay productos que coincidan con tu búsqueda.</p>
    </div>
  </ng-template>
</div>
